.sidebar {
  width: 250px;
  background: var(--color-blue-10);
  padding: var(--space-2);
  overflow-y: auto;
}

.sidebar--collapsed {
  width: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: var(--space-2) 0;
}

.sidebar ul li a {
  color: var(--color-text-primary);
  text-decoration: none;
}
